.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    width: 270px;
    margin: 25px;
    background-color: rgba(220, 220, 220, 0.768);
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 250px;
    height: 180px;
    margin-bottom: 15px;
    object-fit: fill;
}

.card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    text-align: center;
    font-weight: 700;
}

.card p {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}